/* ==========================================================================
   BART'S BURRITOS
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Titan+One');

/* RESETS
============================================ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fbfbfb;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

/* MIXINS
  ============================================ */
@mixin vertical-align() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin title() {
  text-align: center;
  font-family: 'Titan One', cursive;
  color: #fbe101;
  text-shadow: 1px 1px #7d6000;
  font-size: 30px;
}

/* HEADER
  ============================================ */
header {
  margin: auto;
  text-align: center;
  background: url(/images/bg.jpg) repeat-x;
  height: 60px;
  background-size: contain;

  h1 {
    margin: 0;
    text-shadow: 5px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    line-height: 55px;
    font-size: 35px;
    text-transform: uppercase;
  }
}

/* CONTAINER
  ============================================ */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  max-width: 1200px;
  margin: auto;
}

/* MENU
  ============================================ */
.menu {
  &__heading {
    @include title();
  }
}

/* ITEM
  ============================================ */
.item {
  display: grid;
  padding: 20px;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: 1fr 200px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 0.25rem;

  &__info {
    align-items: center;
  }

  &--title {
    @include title();
  }

  &__heading, &__spice {
    display: inline-block;
  }

  &__spice {
    margin-left: 5px;
  }

  &__description {
    line-height: normal;
  }

  &__media img {
    max-width: 200px;
  }

  button {
    cursor: pointer;
    background-color: #26d433;
    border: 0;
    width: 100%;
    color: white;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
  }
}

/* ORDER
  ============================================ */
.order {
  &__item {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 20px;
    display: grid;
    padding: 20px;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: white;
  }

  &__heading {
    @include title();
  }

  &__heading--total {
    font-size: 25px;
    color: #3ffbd1;

    span {
      font-weight: 100;
    }
  }

  &__heading--nothing {
    text-align: center;
  }

  &__name, &__price {
    h3 {
      margin: 0;
    }
  }

  &__spice {
    margin-right: 20px;
  }

  &__price {
    text-align: right;
  }
}
